<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-inscription-heading" jhiTranslate="inscriptionEspApp.inscription.home.createOrEditLabel">Create or edit a Inscription</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inscriptionEspApp.inscription.estApte" for="field_estApte">Est Apte</label>
                    <input type="checkbox" class="form-control" name="estApte" id="field_estApte"
                           formControlName="estApte"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inscriptionEspApp.inscription.estBoursier" for="field_estBoursier">Est Boursier</label>
                    <input type="checkbox" class="form-control" name="estBoursier" id="field_estBoursier"
                           formControlName="estBoursier"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inscriptionEspApp.inscription.estAssure" for="field_estAssure">Est Assure</label>
                    <input type="checkbox" class="form-control" name="estAssure" id="field_estAssure"
                           formControlName="estAssure"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inscriptionEspApp.inscription.enRegleBiblio" for="field_enRegleBiblio">En Regle Biblio</label>
                    <input type="checkbox" class="form-control" name="enRegleBiblio" id="field_enRegleBiblio"
                           formControlName="enRegleBiblio"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inscriptionEspApp.inscription.situationMatrimoniale" for="field_situationMatrimoniale">Situation Matrimoniale</label>
                    <select class="form-control" name="situationMatrimoniale" formControlName="situationMatrimoniale" id="field_situationMatrimoniale">
                        <option value="Celibataire">{{ 'inscriptionEspApp.EnumSituation.Celibataire' | translate }}</option>
                        <option value="MarieSansEnfant">{{ 'inscriptionEspApp.EnumSituation.MarieSansEnfant' | translate }}</option>
                        <option value="MarieAvecEnfant">{{ 'inscriptionEspApp.EnumSituation.MarieAvecEnfant' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('situationMatrimoniale')!.invalid && (editForm.get('situationMatrimoniale')!.dirty || editForm.get('situationMatrimoniale')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('situationMatrimoniale')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inscriptionEspApp.inscription.niveau" for="field_niveau">Niveau</label>
                    <select class="form-control" id="field_niveau" name="niveau" formControlName="niveau">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="niveauOption.id === editForm.get('niveau')!.value?.id ? editForm.get('niveau')!.value : niveauOption" *ngFor="let niveauOption of niveaus; trackBy: trackById">{{ niveauOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inscriptionEspApp.inscription.anneeUniversitaire" for="field_anneeUniversitaire">Annee Universitaire</label>
                    <select class="form-control" id="field_anneeUniversitaire" name="anneeUniversitaire" formControlName="anneeUniversitaire">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="anneeUniversitaireOption.id === editForm.get('anneeUniversitaire')!.value?.id ? editForm.get('anneeUniversitaire')!.value : anneeUniversitaireOption" *ngFor="let anneeUniversitaireOption of anneeuniversitaires; trackBy: trackById">{{ anneeUniversitaireOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inscriptionEspApp.inscription.etudiant" for="field_etudiant">Etudiant</label>
                    <select class="form-control" id="field_etudiant" name="etudiant" formControlName="etudiant">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="etudiantOption.id === editForm.get('etudiant')!.value?.id ? editForm.get('etudiant')!.value : etudiantOption" *ngFor="let etudiantOption of etudiants; trackBy: trackById">{{ etudiantOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
