<div>
    <h2 id="page-heading">
        <span jhiTranslate="inscriptionEspApp.inscription.home.title">Inscriptions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-inscription" [routerLink]="['/inscription/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="inscriptionEspApp.inscription.home.createLabel">
            Create a new Inscription
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'inscriptionEspApp.inscription.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="inscriptions?.length === 0">
        <span jhiTranslate="inscriptionEspApp.inscription.home.notFound">No inscriptions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="inscriptions && inscriptions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="estApte"><span jhiTranslate="inscriptionEspApp.inscription.estApte">Est Apte</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="estBoursier"><span jhiTranslate="inscriptionEspApp.inscription.estBoursier">Est Boursier</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="estAssure"><span jhiTranslate="inscriptionEspApp.inscription.estAssure">Est Assure</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="enRegleBiblio"><span jhiTranslate="inscriptionEspApp.inscription.enRegleBiblio">En Regle Biblio</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="situationMatrimoniale"><span jhiTranslate="inscriptionEspApp.inscription.situationMatrimoniale">Situation Matrimoniale</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="niveau.id"><span jhiTranslate="inscriptionEspApp.inscription.niveau">Niveau</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="anneeUniversitaire.id"><span jhiTranslate="inscriptionEspApp.inscription.anneeUniversitaire">Annee Universitaire</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="etudiant.id"><span jhiTranslate="inscriptionEspApp.inscription.etudiant">Etudiant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let inscription of inscriptions ;trackBy: trackId">
                    <td><a [routerLink]="['/inscription', inscription.id, 'view']">{{ inscription.id }}</a></td>
                    <td>{{ inscription.estApte }}</td>
                    <td>{{ inscription.estBoursier }}</td>
                    <td>{{ inscription.estAssure }}</td>
                    <td>{{ inscription.enRegleBiblio }}</td>
                    <td jhiTranslate="{{ 'inscriptionEspApp.EnumSituation.' + inscription.situationMatrimoniale }}">{{ inscription.situationMatrimoniale }}</td>
                    <td>
                        <div *ngIf="inscription.niveau">
                            <a [routerLink]="['/niveau', inscription.niveau?.id, 'view']" >{{ inscription.niveau?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="inscription.anneeUniversitaire">
                            <a [routerLink]="['/annee-universitaire', inscription.anneeUniversitaire?.id, 'view']" >{{ inscription.anneeUniversitaire?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="inscription.etudiant">
                            <a [routerLink]="['/etudiant', inscription.etudiant?.id, 'view']" >{{ inscription.etudiant?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/inscription', inscription.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/inscription', inscription.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(inscription)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="inscriptions && inscriptions.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
