<div>
    <h2 id="page-heading">
        <span jhiTranslate="inscriptionEspApp.niveau.home.title">Niveaus</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-niveau" [routerLink]="['/niveau/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="inscriptionEspApp.niveau.home.createLabel">
            Create a new Niveau
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'inscriptionEspApp.niveau.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="niveaus?.length === 0">
        <span jhiTranslate="inscriptionEspApp.niveau.home.notFound">No niveaus found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="niveaus && niveaus.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codeNiveau"><span jhiTranslate="inscriptionEspApp.niveau.codeNiveau">Code Niveau</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleLong"><span jhiTranslate="inscriptionEspApp.niveau.libelleLong">Libelle Long</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="formation.id"><span jhiTranslate="inscriptionEspApp.niveau.formation">Formation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let niveau of niveaus ;trackBy: trackId">
                    <td><a [routerLink]="['/niveau', niveau.id, 'view']">{{ niveau.id }}</a></td>
                    <td>{{ niveau.codeNiveau }}</td>
                    <td>{{ niveau.libelleLong }}</td>
                    <td>
                        <div *ngIf="niveau.formation">
                            <a [routerLink]="['/formation', niveau.formation?.id, 'view']" >{{ niveau.formation?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/niveau', niveau.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/niveau', niveau.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(niveau)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="niveaus && niveaus.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
