<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="anneeUniversitaire">
            <h2><span jhiTranslate="inscriptionEspApp.anneeUniversitaire.detail.title">Annee Universitaire</span> {{ anneeUniversitaire.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="inscriptionEspApp.anneeUniversitaire.isActive">Is Active</span></dt>
                <dd>
                    <span>{{ anneeUniversitaire.isActive }}</span>
                </dd>
                <dt><span jhiTranslate="inscriptionEspApp.anneeUniversitaire.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ anneeUniversitaire.libelle }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/annee-universitaire', anneeUniversitaire.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
